
.idea/.idea.mini_games.dir/.idea/.idea.mini_games.dir.iml
.idea/.idea.mini_games.dir/.idea/encodings.xml
.idea/.idea.mini_games.dir/.idea/indexLayout.xml
.idea/.idea.mini_games.dir/.idea/misc.xml
.idea/.idea.mini_games.dir/.idea/vcs.xml
.idea/.idea.mini_games.dir/riderModule.iml
