html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline;
}
.lBlock {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px,
    rgba(255, 0, 0, 0.5) 35px,
    rgba(255, 255, 255, 0.5) 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rBlock {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: auto;
    margin-right: 0;
    height: 99%;
    width: 19.5%;
    border-color: white;
    border-style:dotted;
    background-color: firebrick;
    font-family: Lucida Sans Unicode;
}
.deck{
    margin-left: 20%;
    padding: 5px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    border-radius: 10px;
    perspective: 1000px;
}
.deck .card{
    height: 16%;
    width:  16%;
    margin: 5px;
    position: relative;
    border-radius: 5px;
    list-style-type: none;
    transform-style: preserve-3d;
    transition: transform .5s ;
    background-color: darkorange;
}
.frontside{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    backface-visibility: hidden;
}
.backside{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
}
.card.flip{
    transform: rotateY(180deg);
}
.frontside{
    transform: rotateY(180deg);
}
.card.disabled{
    pointer-events: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    right: 1%;
    top: 1%;
    width: 78%;
    height: 50%;
    background-image: url("https://lh3.googleusercontent.com/proxy/vZ81NyKTALAwFO9qFoA1_MWDGy5JlS7kNzigLpiWuSwJVEreFc1yXAGKhBGMJNnKQiu9j7QsnnwxyYi9VS6-axqRHaDxE8qT3GSjfOOYH3lbZUXbZS3rXE6AsqudJmxSOHi7EUXtdp4");
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    opacity: 1;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.gamesElement{
    margin: 10px 5px;
    background-color: darkgreen;
    border-radius: 10px;
}
.rBlock h2{
    color: #fefefe;
}
.gamesElement a{
    font-size: 20px;
    font-family: "Comic Sans MS";
    text-decoration: none;
    color: #fefefe;
}
.gamesElement:hover{
    transform: scale(1.015);
    box-shadow: 2px 2px 20px 0 gold;
}
.lBlock img{
    height: 100%;
}
.elka{
    margin-left: 22%;
    width: 65%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-image: url("https://avatanplus.com/files/resources/original/5c580f8c41980168b7fcbbed.png");
}
.elka.win{
    background-size: cover;
    background-image: url("https://clipart-best.com/img/christmas-tree/christmas-tree-clip-art-4.png");
}
.star{
    width: 65px;
    height: 65px;
    background-image: url("https://img.icons8.com/ios/452/star--v1.png");
    background-size: cover;
    list-style-type: none;
}
.star:hover{
    background-image: url("https://pngimg.com/uploads/star/star_PNG41474.png");
}
.star.lighted {
    pointer-events: none;
    background-image: url("https://pngimg.com/uploads/star/star_PNG41474.png");
}
.star.win{
    visibility: hidden;
}